/* 文字種指定 */
body {
    font-family: sans-serif;
    width: 100vw;
    background-color: white;
}

/* 全体のレイアウト */
@media screen and (min-width:300px) { 
    /*　スマホ版のレイアウト　*/
    header{
        height: 10vh;
        width: 100%;
    }
    main{
        width: 100%;
    }
    footer{
        width: 100%;
    }
}
@media screen and (min-width:1024px) {
    /*　PC用のレイアウト　*/
    header{
        height: 12vh;
        width: 100%;
    }
    main{
        width: 100%;
    }
    footer{
        width: 100%;
    }
}

/* ここからヘッダーの調整*/
/* ヘッダ内ロゴ画像調整 */

.header-logo{
    display: block;
    height: 100%;
    width: auto;
    object-fit: cover;
}

/* ヘッダ用部品の調整 */
@media screen and (min-width:300px){
    .backtotop{
        display: none;
    }
    .header-PC{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 10vh;
        position: relative;
        z-index: 5;
    }
    .header-PC>div{
        display: none;
    }
    .header-logo{
        height: 10vh;
        width: auto;
        object-fit: cover;
    }
    .header-sp{
        width: 20%;
        height: 10vh;
        left: 80%;
        position: fixed;
        z-index: 3;
    }
    .header-sp>div{
        height: 1px;
        width: 60px;
        margin: 0 auto;
        background-color: #4F2111;
        transition: all ease-in-out 0.3s;
    }
    .header-sp-upper{
        position: relative;
        top: -20%;
    }
    .header-sp-bottom{
        position: relative;
        top: 20%;
    }
    .header-sp-upper.is-open{
        transform: rotate(45deg);
        top: 0;
    }
    .header-sp-middle.is-open{
        display: none;
    }
    .header-sp-bottom.is-open{
        transform: rotate(-45deg);
        top: 0;
    }
    header{
        display: none;
    }
}

@media screen and (min-width:1024px) {
    .backtotop{
        display: block;
        position: fixed;
        left: 90%;
        top: 80%;
        z-index: 4;
    }
    .backtotop>img{
        width: 100%;
        height: auto;
    }
    .header-PC>div{
        width: 50%;
        display: flex;
    }
    .header-PC>div>div{
        width: calc(100%/3);
    }
    .header-PC>div>div>a{
        text-decoration: none;
        color: brown;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: calc(1.125rem + ((1vw - 10.24px) * 1.7361));
        font-family: 'DIN Condensed',sans-serif;
        padding: 2vh 10%;
    }
    .header-menu-JP{
        font-weight: 200;
        font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    }
}

@media screen and (min-width:1024px) {
    .header-PC{
        height: 12vh;
        width: 100%;
        display: flex;
        position: fixed;
        justify-content: space-between;
    }
    .header-sp{
        display: none;
    }
}

/* ここからメイン部分の調整 */
/* ファーストビュー画像の調整 */
.main-firstimage{
    width: 100%;
}
.main-firstimage>img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media screen and (min-width:300px) { 
    .main-firstimg{
        position: relative;
        top: 12vh;
    }
}
@media screen and (min-width:1024px) {
    .main-firstimage{
        position: relative;
        top: 10vh;
    }
}

/* メッセージ部分の調整 */
@media screen and (min-width:300px){
    .main-message{
        width: 100%;
        position: relative;
        margin: 3vh auto;
    }

    .main-message-sp{
        width: 80%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .main-message-PC{
        display: none;
    }
}

@media screen and (min-width:1024px) {
    .main-message{
        width: 100%;
        position: relative;
        margin: 5vh auto;
    }
    .main-message-sp{
        display: none;
    }
    .main-message-PC{
        width: 70%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}
/* ここからイベントページの調整 */
@media screen and (min-width:300px){
    .main-event{
        height: 50vh;
        width: 100%;
        text-align: center;
    }
    .main-event>h2{
        color: #4F2111;
        margin: 4vh auto 2vh auto;
        font-size: calc(1.25rem + ((1vw - 3.75px) * 5.2388));
    }
    .main-event>img{
        max-width: 100%;
        height: 30vh;
        object-fit: cover;
        display: block;
        margin:0 auto 2vh auto;
    }
    .main-event>a{
        display: block;
        width: 60%;
        padding: 1vh 0;
        margin: 5vh auto;
        background-color: #fafa02;
        color: #4F2111;
        border-radius: 11vh;
        text-decoration: none;
        font-size: 16px;
    }
}

@media screen and (min-width:1024px){
    .main-event{
        height: 90vh;
        width: 100%;
        text-align: center;
    }
    .main-event>h2{
        padding: 7vh 0 2vh 0;
        font-size: 54px;
        margin: 0;
    }
    .main-event>img{
        max-width: 80%;
        height: 50vh;
        object-fit: cover;
        display: block;
        margin: 5vh auto 7vh auto;
    }
    .main-event>a{
        display: block;
        width: 30%;
        padding: 2vh 3%;
        margin: 5vh auto;
        background-color: #fafa02;
        color: #4F2111;
        border-radius: 11vh;
        text-decoration: none;
        font-size: 24px;
    }
}

/* ここからアクティビティの調整 */

@media screen and (min-width:300px){
    .main-activity{
        width: 100%;
        text-align: center;
        background-color: #f2f2f2;
    }
    .main-activity>h2{
        margin: 0 auto;
        padding: 2vh 0 3vh 0;
        font-size: calc(1.5rem + ((1vw - 3.75px) * 4.6225));
        color: #4F2111;
    }
    .main-activity-script{
        width: 90%;
        margin: 0 auto;
        background-color: white;
        padding: 2vh 5%;
    }
    .main-activity-script>h3{
        margin: 0 auto 2vh auto;
        font-size: calc(1rem + ((1vw - 3.75px) * 3.698));
        color: #4f2111;
        font-weight: bold;
    }
    .main-activity-script>p{
        font-size: calc(0.625rem + ((1vw - 3.75px) * 2.4653));
        text-align: left;
        color: #4f2111;
        font-family: "Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;
    }
    .main-activity-articles{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        margin: 5vh auto 0 auto;
    }
    .main-activity-articles-item{
        width: 100%;
        background-color: #ffffff;
        margin-bottom: 3vh;
    }
    .main-activity-articles-item>h4{
        font-size: calc(1.5rem + ((1vw - 3.75px) * 4.6225));
        margin: 2vh auto;
        font-weight: normal;
        font-family:  "ヒラギノ明朝 Pro","Hiragino Mincho Pro",serif;
    }
    .main-activity-articles-item>img{
        width: 90%;
        object-fit: cover;
    }
    .main-activity-articles-item>ul{
        width: 90%;
        background-color: #fafa02;
        margin: 1vh auto 3vh auto;
        padding: 2vh 10%;
        font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    }
    .main-activity-articles-item>ul>li{
        color: #4f2111;
        text-align: left;
        font-size: calc(0.75rem + ((1vw - 3.75px) * 1.849));
        list-style-type: disc;
        font-family:  "ヒラギノ明朝 Pro","Hiragino Mincho Pro",serif;
    }
}

@media screen and (min-width:1024px){
    .main-activity{
        width: 100%;
        padding-bottom: 7vh;
        background-color: #f2f2f2;
    }
    .main-activity>h2{
        margin: 0 auto;
        padding: 7vh 0 2vh 0;
        font-size: 54px;
    }
    .main-activity-script{
        width: 85%;
        margin: 0 auto;
        background-color: white;
        padding: 5vh 5%;
    }
    .main-activity-script>h3{
        margin: 0 auto 2vh auto;
        font-size: 40px;
        color: #4f2111;
        font-weight: bold;
    }
    .main-activity-script>p{
        font-size: 26px;
        text-align: left;
        color: #4f2111;
        font-family: "Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;
    }
    .main-activity-articles{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 85%;
        margin: 5vh auto 0 auto;
    }
    .main-activity-articles-item{
        width: 47.5%;
        background-color: #ffffff;
        margin-bottom: 3vh;
    }
    .main-activity-articles-item>h4{
        font-size: 54px;
        margin: 2vh auto;
        font-weight: normal;
        font-family:  "ヒラギノ明朝 Pro","Hiragino Mincho Pro",serif;
    }
    .main-activity-articles-item>img{
        width: 80%;
        object-fit: cover;
    }
    .main-activity-articles-item>ul{
        width: 80%;
        background-color: #fafa02;
        margin: 1vh auto 3vh auto;
        padding: 2vh 10%;
        font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    }
    .main-activity-articles-item>ul>li{
        color: #4f2111;
        text-align: left;
        font-size: 24px;
        list-style-type: disc;
        font-family:  "ヒラギノ明朝 Pro","Hiragino Mincho Pro",serif;
    }
}

/* ここからアサイドの調整 */

aside{
    width: 100%;
    height: 100vh;
    background-color: #fafa02cc;
    position: absolute;
    top: -100vh;
    transition: top 0.3s 0s ease-in-out;
    z-index: 2;
}

aside.is-open{
    top: 0;
}

.aside-sp>nav{
    margin-top: 15vh;
}
.aside-sp-nav-item{
    width: 100%;
    height: 10vh;
}
.aside-sp-nav-item>a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 36px;
    color: #4F2111;
    text-align: center;
}



/* ここからフッターの調整 */

footer{
    background-color: #FDFBFB;
    text-align: center;
    width: 100%;
    padding: 5vh 0;
}

@media screen and (min-width:300px){
    footer>div{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }
    .footer-logo{
        width: 20%;
        height: auto;
    }
    .footer-titlelogo{
        width: 50%;
        height: auto;
    }
    .footer-QR{
        width: 20%;
        height: auto;
    }
    .footer-copyrights{
        font-size: calc(1.125rem + ((1vw - 3.75px) * 2.1572));
        font-family:  "ヒラギノ明朝 Pro","Hiragino Mincho Pro",serif;
        position: relative;
        top: -2vh;
        color:#707070;
    }
    .footer-subcopyrights{
        font-size: calc(0.25rem + ((1vw - 3.75px) * 4.3143));
        font-family:  "ヒラギノ明朝 Pro","Hiragino Mincho Pro",serif;
        position: relative;
        top: -2vh;
        color:#707070;
    }
}

@media screen and (min-width:1024px){
    footer>div{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }
    .footer-logo{
        width: 10%;
        height: auto;
    }
    .footer-titlelogo{
        width: 30%;
        height: auto;
    }
    .footer-QR{
        width: 10%;
        height: auto;
    }
    .footer-copyrights,.footer-subcopyrights{
        font-size: 32px;
        font-family:  "ヒラギノ明朝 Pro","Hiragino Mincho Pro",serif;
        position: relative;
        top: -4vh;
        color:#707070;
    }
}