/* 文字種指定 */
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'HGGothicE',sans-serif;
    width: 100vw;
    background-color: white;
}

/* 全体のレイアウト */
@media screen and (min-width:300px) { 
    /*　スマホ版のレイアウト　*/
    header{
        height: 10vh;
        width: 100%;
    }
    main{
        width: 100%;
        background-color: #FBFBD6;
        padding-bottom: 3vh;
    }
    footer{
        width: 100%;
    }
    .main-event{
        width: 95%;
        margin: 0 auto;
    }
    .main-whats{
        width: 95%;
        margin: 0 auto;
    }
    .main-activity{
        width: 95%;
        margin: 0 auto;
    }
}
@media screen and (min-width:1024px) {
    /*　PC用のレイアウト　*/
    header{
        height: 12vh;
        width: 100%;
    }
    main{
        width: 100%;
        padding-bottom: 0;
    }
    footer{
        width: 100%;
    }
    .main-event{
        width: 100%;
        margin: 0 auto;
    }
    .main-whats{
        width: 100%;
        margin: 0 auto;
    }
    .main-activity{
        width: 100%;
        margin: 0 auto;
    }
}

/* ここからヘッダーの調整*/
/* ヘッダ内ロゴ画像調整 */

.header-logo{
    display: block;
    height: 12vh;
    width: auto;
    object-fit: cover;
}

/* ヘッダ用部品の調整 */
@media screen and (min-width:300px){
    .backtotop{
        display: none;
    }
    .header-PC{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 10vh;
        position: relative;
        z-index: 5;
        background-color: #fbfbd6;
    }
    .header-PC>div{
        display: none;
    }
    .header-logo{
        height: 10vh;
        padding: 2%;
        width: auto;
        object-fit: cover;
    }
    .header-titlelogo{
        display: none;
    }
    .header-sp{
        width: 20%;
        height: 10vh;
        left: 80%;
        position: absolute;
        z-index: 5;
        background-color: #fafa02;
    }
    .header-sp>div{
        height: 1px;
        width: 60px;
        margin: 0 auto;
        background-color: #4F2111;
        transition: all ease-in-out 0.3s;
    }
    .header-sp-upper{
        position: relative;
        top: -20%;
    }
    .header-sp-bottom{
        position: relative;
        top: 20%;
    }
    .header-sp-upper.is-open{
        transform: rotate(45deg);
        top: 0;
    }
    .header-sp-middle.is-open{
        display: none;
    }
    .header-sp-bottom.is-open{
        transform: rotate(-45deg);
        top: 0;
    }
    header{
        display: none;
    }
}

@media screen and (min-width:1024px) {
    .backtotop{
        display: block;
        position: fixed;
        left: 90%;
        top: 80%;
        z-index: 15;
    }
    .backtotop>img{
        width: 100%;
        height: auto;
    }
    .header-PC{
        background-color: white;
    }
    .header-logo{
        height: 12vh;
        width: auto;
        padding: 1%;
    }
    .header-titlelogo{
        height: 12vh;
        padding: 2vh 2%;
        width: auto;
        object-fit: cover;
        display: block;
    }
    .header-PC>div{
        width: 50%;
        display: flex;
    }
    .header-PC>div>div{
        width: calc(100%/3);
    }
    .header-PC>div>div>a{
        display: flex;
        text-decoration: none;
        color: brown;
        display: block;
        text-align: center;
        width: 100%;
        height: 100%;
        font-size: calc(2.75rem + ((1vw - 10.24px) * 2.0833));
        font-family: 'DIN Condensed',sans-serif;
        align-items: center;
    }
    .header-menu-JP{
        font-weight: 200;
        font-size: 16px;
        font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    }
    header{
        display: block;
    }
}

@media screen and (min-width:1024px) {
    .header-PC{
        height: 12vh;
        width: 100%;
        display: flex;
        position: fixed;
        top:0;
        justify-content: space-between;
    }
    .header-sp{
        display: none;
    }
}

/* ここからメイン部分の調整 */
/* メッセージ部分の調整 */
@media screen and (min-width:300px){
    .main-message{
        position: relative;
        background-image: url(../img/bgimg-sp-message.jpg);
        background-size: cover;
        padding-top: 15vh;
        top:0;
    }
    .main-message-speech{
        width: 30%;
        position: absolute;
        top: 2vh;
        left: 60%;
        display: block;
        height: auto;
    }
    .main-message-vivid{
        width: 90%;
        opacity: 1;
        padding: 1vh 0;
        margin: 0 auto;
        display: block;
        height: auto;
    }
    .main-message-semivivid{
        width: 90%;
        opacity: 0.6;
        padding: 1vh 0;
        margin: 0 auto;
        display: block;
        height: auto;
    }
    .main-message-vague{
        width: 90%;
        opacity: 0.3;
        padding: 1vh 0;
        margin: 0 auto;
        display: block;
        height: auto;
    }
    .main-message-scripts{
        margin-top: 5vh;
    }
    .main-message-scripts-headline>h2{
        text-align: center;
        font-size: calc(1.5rem + ((1vw - 3.75px) * 4.6225));
        margin: 0 auto;
        color: #4F2111;
        padding-top: 1vh;
    }
    .main-message-scripts-para{
        width: 70%;
        margin: 0 auto;
        padding: 3vh 0;
        color: #4F2111;
    }
    .main-message-scripts-para>p{
        padding: 2vh 0;
        font-size: calc(1.125rem + ((1vw - 3px) * 1.3));
    }
}

@media screen and (min-width:1024px) {
    .main-message{
        width: 100%;
        position: relative;
        background-image: url(../img/bgimg-sp-message.jpg);
        background-size: cover;
        padding-top: 0;
        top:0;
    }
    .main-message-speech{
        display: none;
    }
    .main-message-vivid{
        width: 90%;
        opacity: 1;
        padding: 1vh 0;
        margin: 0 auto;
    }
    .main-message-semivivid{
        width: 90%;
        opacity: 0.6;
        padding: 1vh 0;
        margin: 0 auto;
    }
    .main-message-vague{
        width: 90%;
        opacity: 0.3;
        padding: 1vh 0;
        margin: 0 auto;
    }
    .main-message-scripts{
        display: flex;
    }
    .main-message-scripts-headline{
        width: 50%;
        font-size: calc(2.875rem + ((1vw - 10.24px) * 3.5156));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-message-scripts-headline>h2{
        text-align: center;
        font-size: 48px;
        color: #4F2111;
        padding-bottom: 3vh;
    }
    .main-message-scripts-para{
        width: 50%;
        display: flex;
        margin: 0 auto;
        padding: 3vh 2.5% 0 7.5%;
        color: #4F2111;
        flex-direction: column;
    }
    .main-message-scripts-para>p{
        padding: 20px 0;
        font-size: calc(1.25rem + ((1vw - 10.24px) * 1.3021));
    }
}

/* ここから団体説明の調整 */
@media screen and (min-width:300px){
    .main-whats{
        position: relative;
        background-image: url(../img/bgimg-sp2.jpg);
        background-size: cover;
    }
    .main-whats>h2{
        padding: 2vh 0 3vh 0;
        font-size: calc(1.5rem + ((1vw - 3.75px) * 4.6225));
        color: #4F2111;
        text-align: center;
    }
    .main-whats-logoimg{
        display: none;
    }
    .main-whats-lectureimg{
        display: block;
        width: 80%;
        height: auto;
        margin: 0 auto;
    }
    .main-whats-scripts{
        width: 85%;
        margin: 0 auto;
        padding: 5%;
        color: #4F2111;
    }
    .main-whats-scripts>p{
        font-size: calc(1.125rem + ((1vw - 3px) * 1.3812));
    }
}
@media screen and (min-width:1024px){
    .main-whats{
        width: 100%;
        position: relative;
        height: 85vh;
        background-image: url(../img/bgimg.png);
        background-size: cover;
    }
    .main-whats>h2{
        padding: 7vh 0 2vh 0;
        font-size: calc(3.375rem + ((1vw - 10.24px) * 2.8646));
        text-align: center;
    }
    .main-whats>img{
        display: block;
    }
    .main-whats-logoimg{
        width: 10%;
        height: auto;
        position: absolute;
        top: 82px;
        left: 80%;
    }
    .main-whats-lectureimg{
        width: 50%;
        height: auto;
        position: absolute;
        top: 25%;
        left: 7.5%;
    }
    .main-whats-scripts{
        width: 30%;
        height: 50%;
        position: absolute;
        left: 62.5%;
        top: 45%;
        padding: 0; 
    }
    .main-whats-scripts>p{
        font-size: calc(1rem + ((1vw - 10.24px) * 1.6927));
    }
}



/* ここからイベントページの調整 */
@media screen and (min-width:300px){
    .main-event{
        text-align: center;
        background-color: white;
        margin-top: 3vh;
        padding-bottom: 3vh;
    }
    .main-event>h2{
        color: #4F2111;
        margin: 0 auto 2vh auto;
        padding-top: 4vh;
        font-size: calc(1.25rem + ((1vw - 3.75px) * 5.2388));
    }
    .slick-items>img{
        width: 90%;
        margin: 0 auto;
    }
    .main-event>div{
        width: 50%;
        padding: 1vh 0;
        background-color: #fafa02;
        margin: 0 auto;
    }
    .main-event>div>a{
        display: block;
        width: 100%;
        padding: 0.5vh 3%;
        margin: 0 auto;
        color: #4F2111;
        text-decoration: none;
        font-size: 16px;
    }
    .slide-arrow{
        width: 0;
    }
}

@media screen and (min-width:1024px){
    .main-event{
        width: 100%;
        text-align: center;
        padding: 0;
        margin-top: 0;
    }
    .contents-inner{
        padding-top: 12vh;
        margin-top: -12vh;
    }
    .main-event>h2{
        padding-bottom: 2vh;
        font-size: calc(3.375rem + ((1vw - 10.24px) * 2.8646));
        text-align: center;
    }
    .slick{
        width: 100%;
    }
    .slick-items>img{
        width: 80%;
        margin: 0 auto;
        object-fit: cover;
        display: block;
        z-index: 2;
    }
    .slide-arrow{
        width: 5%;
    }
    .main-event>div{
        width: 30%;
        height: 6vh;
        padding: 1vh 5%;
        background-color: #fafa02;
    }
    .main-event>a{
        display: block;
        width: 100%;
        margin: 0 auto;
        color: #4F2111;
        text-decoration: none;
        font-size: 30px;
    }
}

/* ここからアクティビティの調整 */

@media screen and (min-width:300px){
    .main-activity{
        text-align: center;
        background-color: white;
    }
    .main-activity>h2{
        margin: 0 auto;
        padding: 2vh 0 3vh 0;
        font-size: calc(1.5rem + ((1vw - 3.75px) * 4.6225));
        color: #4F2111;
    }
    .main-activity-script{
        width: 90%;
        margin: 0 auto;
        background-color: white;
        padding: 2vh 5%;
    }
    .main-activity-script>h3{
        margin: 0 auto 2vh auto;
        font-size: calc(1rem + ((1vw - 3.75px) * 3.698));
        color: #4f2111;
        font-weight: bold;
    }
    .main-activity-script>p{
        font-size: calc(0.625rem + ((1vw - 3.75px) * 2.4653));
        text-align: left;
        color: #4f2111;
        font-family: "Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;
    }
    .main-activity-articles{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        margin: 5vh auto 0 auto;
    }
    .main-activity-articles-item{
        width: 100%;
        background-color: #ffffff;
        margin-bottom: 3vh;
        border: #4f2111 3px solid;
    }
    .main-activity-articles-item>h4{
        font-size: calc(1.5rem + ((1vw - 3.75px) * 4.6225));
        margin: 2vh auto;
        font-weight: normal;
        font-family:  "ヒラギノ明朝 Pro","Hiragino Mincho Pro",serif;
    }
    .main-activity-articles-item>img{
        width: 90%;
        object-fit: cover;
    }
    .main-activity-articles-item>ul{
        width: 90%;
        background-color: #fafa02;
        margin: 1vh auto 3vh auto;
        padding: 2vh 10%;
        font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    }
    .main-activity-articles-item>ul>li{
        color: #4f2111;
        text-align: left;
        font-size: calc(0.75rem + ((1vw - 3.75px) * 1.849));
        list-style-type: disc;
        font-family:  "ヒラギノ明朝 Pro","Hiragino Mincho Pro",serif;
    }
    .main-activity-articles-item>ul>h5{
        color: #4f2111;
    }
    .main-activity-articles-item-company{
        text-align: left;
        margin: 3vh auto 0 auto;
    }
    .main-activity-articles-item-company>p{
        font-size: calc(0.625rem + ((1vw - 3px) * 0.5525));
        color: #4F2111;
    }
    .main-activity-articles-item-company>p>span{
        display: inline-block;
        width: 7em;
    }
}

@media screen and (min-width:1024px){
    .main-activity{
        width: 100%;
        padding-bottom: 7vh;
    }
    .main-activity>h2{
        padding: 7vh 0 2vh 0;
        font-size: calc(3.375rem + ((1vw - 10.24px) * 2.8646));
        text-align: center;
    }
    .main-activity-script{
        width: 85%;
        margin: 0 auto;
        background-color: white;
        padding: 5vh 5%;
    }
    .main-activity-script>h3{
        margin: 0 auto 2vh auto;
        font-size: calc(2.5rem + ((1vw - 10.24px) * 2.6042));
        color: #4f2111;
        font-weight: bold;
    }
    .main-activity-script>p{
        font-size: calc(1.5rem + ((1vw - 10.24px) * 0.7813));
        text-align: left;
        color: #4f2111;
        font-family: "Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;
    }
    .main-activity-articles{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 85%;
        margin: 5vh auto 0 auto;
    }
    .main-activity-articles-item{
        width: 47.5%;
        background-color: #ffffff;
        margin-bottom: 3vh;
    }
    .main-activity-articles-item>h4{
        font-size: 54px;
        margin: 2vh auto;
        font-weight: normal;
        font-family:  "ヒラギノ明朝 Pro","Hiragino Mincho Pro",serif;
    }
    .main-activity-articles-item>img{
        width: 80%;
        object-fit: cover;
    }
    .main-activity-articles-item>ul{
        width: 80%;
        background-color: #fafa02;
        margin: 1vh auto 3vh auto;
        padding: 2vh 10%;
        font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    }
    .main-activity-articles-item>ul>li{
        color: #4f2111;
        text-align: left;
        font-size: calc(1.125rem + ((1vw - 10.24px) * 1.1719));
        list-style-type: disc;
        font-family:  "ヒラギノ明朝 Pro","Hiragino Mincho Pro",serif;
    }
    .main-activity-articles-item-company{
        margin: 3vh auto 0 auto;
        text-align: left;
    }
    .main-activity-articles-item-company>p{
        font-size: 14px;
        color: #4F2111;
    }
    .main-activity-articles-item-company>p>span{
        display: inline-block;
        width: 7em;
    }
}

/* ここからアサイドの調整 */

aside{
    width: 100%;
    height: 100vh;
    background-color: #fafa02cc;
    position: absolute;
    top: -100vh;
    transition: top 0.3s 0s ease-in-out;
    z-index: 2;
}

aside.is-open{
    top: 0;
}

.aside-sp>nav{
    margin-top: 15vh;
}
.aside-sp-nav-item{
    width: 100%;
    height: 10vh;
}
.aside-sp-nav-item>a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 36px;
    color: #4F2111;
    text-align: center;
}
.aside-sp-nav-item>a>img{
    display: block;
    margin: 0 auto;
    height: 100%;
    width: auto;
}



/* ここからフッターの調整 */

footer{
    background-color: #FDFBFB;
    text-align: center;
    width: 100%;
    padding: 5vh 0;
}

@media screen and (min-width:300px){
    footer>div{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }
    .footer-logo{
        width: 20%;
        height: auto;
        padding: 2%;
    }
    .footer-logo>img{
        display: block;
        width: 100%;
        height: auto;
    }
    .footer-titlelogo{
        width: 50%;
        height: auto;
        position: relative;
        top: 4vh;
    }
    .footer-QR{
        width: 20%;
        padding:2%;
        height: auto;
    }
    .footer-QR>img{
        display: block;
        width: 100%;
        height: auto;
    }
    .footer-copyrights{
        font-size: calc(1.125rem + ((1vw - 3.75px) * 2.1572));
        font-family:  "ヒラギノ明朝 Pro","Hiragino Mincho Pro",serif;
        position: relative;
        top: -2vh;
        color:#707070;
    }
    .footer-subcopyrights{
        font-size: calc(0.25rem + ((1vw - 3.75px) * 4.3143));
        font-family:  "ヒラギノ明朝 Pro","Hiragino Mincho Pro",serif;
        position: relative;
        top: -2vh;
        color:#707070;
    }
}

@media screen and (min-width:1024px){
    footer>div{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }
    .footer-logo{
        width: 10%;
        height: auto;
        padding: 2%;
    }
    .footer-logo>img{
        display: block;
        width: 100%;
        height: auto;
    }
    .footer-titlelogo{
        width: 30%;
        height: auto;
    }

    .footer-QR{
        width: 10%;
        height: auto;
    }
    .footer-QR>img{
        display: block;
        width: 100%;
        height: auto;
    }
    .footer-copyrights,.footer-subcopyrights{
        font-size: 32px;
        font-family:  "ヒラギノ明朝 Pro","Hiragino Mincho Pro",serif;
        position: relative;
        top: -4vh;
        color:#707070;
    }
}